@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
/*  color: #003A70;*/
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #545859;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #003A70;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #003A70;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #545859;
}

html, body {
  height: 100%;
}
